<?php

// Database configuration
$dbHost = '10.0.0.50'; // Host of the database
$dbUser = 'lychee'; // Username of the database
$dbPassword = 'lychee'; // Password of the database
$dbName = 'lychee'; // Database name
$dbTablePrefix = ''; // Table prefix

?>
