<!doctype html>
<!-- Pure form link https://purecss.io/forms/ -->
<html>
<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
<head>
  <title>Gym - Data Collection</title>
</head>
<body>
  <div class="center">

  <form class="pure-form pure-form-aligned" action="{{ url_for('addrec') }}" method="POST">
    <fieldset>
    <!-- <h3>Machine #: </h3> -->
    <div class="pure-controls">
      <label for="machine">Machine</label>
      <input class="pure-input-1-4" name='machine' id='machine' type='text' placeholder='Number'>
    </div>

    <div class="pure-controls">
      <label for="weight">Weights</label>
      <input id='weight' name='weight' type='text' placeholder="Weight">
    </div>

    <div class="pure-controls">
      <label for='reps'>Reps</label>
      <input id='reps' name='reps' type='text' placeholder='Reps'>
    </div>

    <div class="pure-controls">
      <button type="submit" class="pure-button pure-button-primary" value="submit">Submit</button>
      <a class="pure-button pure-button-primary" href="/list">List</a>

    </div>

  </fieldset>
  </form>
</div>

</body>
</html>
