---
# tasks file for common

- name: Install essential packages
  apt:
    name: "{{ item }}"
    update_cache: yes
    state: latest
    install_recommends: yes
  with_items:
    - htop
    - git
    - python3
    - python
    - sudo
    - vim
    - screen
    - x11vnc


- name: add group
  group:
    name: admin
    state: present

- name: user/group
  user:
    name: "{{ defaultUserName }}"
    comment: "Adam Elchert"
    groups: admin
    shell: /bin/bash
    state: present

- name: Add admin group to Sudoers
  lineinfile:
      dest: /etc/sudoers
      state: present
      regexp: "{{ item.name }}"
      line: "{{ item.line }}"
  with_items:
    - { name: '^admin', line: 'admin ALL=(ALL:ALL) ALL' }
    - { name: '^aelchert', line: 'aelchert ALL=(ALL:ALL) ALL' }


- name: copy keys to aelchert
  authorized_key:
    user: aelchert
    state: present
    key: "{{ lookup('file', '/Users/adamschoonover/.ssh/id_rsa.pub') }}"

- name: copy root keys
  authorized_key:
    user: root
    state: present
    key: "{{ lookup('file', '/Users/adamschoonover/.ssh/id_rsa.pub') }}"

- name: copy basic bashrc to username root folder
  copy:
    src: /Users/adamschoonover/Git/Personal/Server/AnsiblePlaybooks/roles/common/templates/bashrc
    dest: '{{ item }}'
    mode: 0644
  with_items:
    - /home/aelchert/.bashrc
    - /root/.bashrc

- name: update root password login
  lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: '^PermitRoot'
    line: 'PermitRootLogin yes'

- name: restart sshd
  service:
    name: sshd
    state: restarted

- name: copy basic bashrc to root
  copy:
    src: /Users/adamschoonover/Git/Personal/Server/AnsiblePlaybooks/roles/common/templates/bashrc
    dest: /root/.bashrc
    mode: 0644

- name: copy keys to aelchert
  copy:
    src: "{{ item }}"
    dest: /home/aelchert/.ssh/
    mode: 0600
  with_items:
    - /Users/adamschoonover/Git/Personal/Server/AnsiblePlaybooks/roles/common/templates/id_rsa
    - /Users/adamschoonover/Git/Personal/Server/AnsiblePlaybooks/roles/common/templates/id_rsa.pub

- name: copy keys to root
  copy:
    src: "{{ item }}"
    dest: /root/.ssh/
    mode: 0600
  with_items:
    - /Users/adamschoonover/Git/Personal/Server/AnsiblePlaybooks/roles/common/templates/id_rsa
    - /Users/adamschoonover/Git/Personal/Server/AnsiblePlaybooks/roles/common/templates/id_rsa.pub
