---
- hosts: testing
  vars:
    fileroot: "/Users/adamschoonover/Git/Personal/Server/AnsiblePlaybooks/"
  tasks:
  - name: Install essential packages
    apt:
      name: "{{ item }}"
      update_cache: yes
      state: latest
      install_recommends: yes
    with_items:
      - htop
      - git
      - python3
      - python
      - sudo
      - vim
      - screen
      - x11vnc
      - openssh-server
      - python-pip
    become: true

  - name: add group
    group:
        name: admin
        state: present

  - name: user/group
    user:
        name: aelchert
        comment: "Adam Elchert"
        groups: admin
        shell: /bin/bash
        state: present
    become: true

  - name: Add admin group to Sudoers
    lineinfile:
        dest: /etc/sudoers
        state: present
        regexp: "{{ item.name }}"
        line: "{{ item.line }}"
    with_items:
        - { name: '^admin', line: 'admin ALL=(ALL:ALL) ALL' }
        - { name: '^aelchert', line: 'aelchert ALL=(ALL:ALL) ALL' }
    become: true


  - name: copy keys to aelchert
    authorized_key:
        user: aelchert
        state: present
        key: "{{ lookup('file', '/templates/id_rsa.pub') }}"

  - name: copy root keys
    authorized_key:
        user: root
        state: present
        key: "{{ lookup('file', '/templates/id_rsa.pub') }}"
    become: true

  - name: copy basic bashrc to username root folder
    copy:
        src: /templates/bashrc
        dest: '{{ item }}'
        mode: 0644
    with_items:
        - /home/aelchert/.bashrc
        - /root/.bashrc
    become: true

  - name: update root password login
    lineinfile:
        dest: /etc/ssh/sshd_config
        regexp: '^PermitRoot'
        line: 'PermitRootLogin yes'
    become: true

  - name: copy keys to aelchert
    copy:
        src: "{{ item }}"
        dest: /home/aelchert/.ssh/authorized_keys
        mode: 0600
        with_items:
          - /templates/keys.keys
    become: true

  - name: copy keys to root
    copy:
        src: "{{ item }}"
        dest: /root/.ssh/authorized_keys
        mode: 0600
    with_items:
      - /templates/keys.keys
    become: true
